
<!--
  Charthouse
  https://gitlab.com/fjorden/charthouse
  Copyright 2017-2019 Fjorden
-->

<h4>
  <i class="fas fa-compass fa-fw"></i> Charthouse
  <span id="CharthouseVersion"></span>
</h4>

<p>
  Charthouse is a web-based interactive mapping application.
</p>

<p>
  <a target="_blank"
    href="https://gitlab.com/fjorden/charthouse/">GitLab project</a>
</p>

<p>
  <i class="fas fa-bug fa-fw"></i>
  <a target="_blank"
    href="https://gitlab.com/fjorden/charthouse/issues/new">Submit an issue</a>
</p>

<hr>

<h4><i class="fas fa-info-circle fa-fw"></i> Supporting projects</h4>

<p> This application makes use of the following projects</p>

<table class="borderless">
  <tr>
    <td>
      <i class="fab fa-font-awesome fa-fw"></i>
    </td>
    <td>
      <a target="_blank"
        href="http://fontawesome.com/" target="_blank">Font Awesome</a>
    </td>
    <td>
      Icons
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      <a target="_blank"
        href="https://github.com/chrisveness/geodesy">Geodesy</a>
    </td>
    <td>
      JavaScript library
    </td>
  </tr>
  <tr>
    <td>
      <i class="gi gi-us-flag-straight gi-fw"></i>
    </td>
    <td>
      <a target="_blank"
        href="http://govicons.io/">Govicons</a>
    </td>
    <td>
      Icons
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      <a target="_blank"
     href="https://github.com/mqttjs/MQTT.js">
        MQTT.js
      </a>
    </td>
    <td>
      MQTT JavaScript client
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      <a target="_blank"
        href="https://necolas.github.io/normalize.css/">Normalize.css</a>
    </td>
    <td>
      CSS reset
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      <a target="_blank"
        href="http://openlayers.org/">OpenLayers</a>
    </td>
    <td>
      Mapping library
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      <a target="_blank"
        href="https://github.com/frewsxcv/python-geojson">python-geojson</a>
    </td>
    <td>
      Python GeoJSON library
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      <a target="_blank" href="https://github.com/mourner/suncalc">SunCalc</a>
    </td>
    <td>
      JavaScript sun/moon library
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      <a target="_blank" href="http://turfjs.org/">turf.js</a>
    </td>
    <td>
      JavaScript geospatial analysis library
    </td>
  </tr>
  <tr>
    <td>
      <a target="_black" uk-icon="icon: uikit"></a>
    </td>
    <td>
      <a target="_blank" href="https://getuikit.com/">UIkit</a>
    </td>
    <td>
      CSS and JavaScript front end develpoment framework
    </td>
  </tr>
  <tr>
    <td>
      <i class="wi wi-day-cloudy wi-fw"></i>
    </td>
    <td>
      <a target="_blank"
        href="https://erikflowers.github.io/weather-icons/">Weather Icons</a>
    </td>
    <td>
      Icons
    <td>
  </tr>
</table>

