
/*
  Charthouse
  https://gitlab.com/fjorden/charthouse
  Copyright 2017-2019 Fjorden
*/

/*
padding top right bottom left
*/

@import url("support/OpenLayers/ol.css");
/*
@import url("support/ol-cesium-v1.28/ol.css");
*/
@import url("support/uikit/css/uikit.min.css");

/* fonts */
@import url("support/fontawesome/css/all.min.css");
@import url("support/govicons/css/govicons.min.css");
@import url("support/weather-icons-2.0.10/css/weather-icons.min.css");
@font-face
  {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url(support/OpenSans-Regular-20180420.ttf);
  }
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 900;
  src: url("support/fontawesome/webfonts/fa-solid-900.eot");
  src: url("support/fontawesome/webfonts/fa-solid-900.eot?#iefix")
  format("embedded-opentype"), url("support/fontawesome/webfonts/fa-solid-900.woff2")
  format("woff2"), url("support/fontawesome/webfonts/fa-solid-900.woff") format("woff"),
  url("support/fontawesome/webfonts/fa-solid-900.ttf") format("truetype"),
  url("support/fontawesome/webfonts/fa-solid-900.svg#fontawesome") format("svg");
  }

.x-large
  {
  font-size: 150%;
  }

.small
  {
  font-size: 80%;
  }

.x-small
  {
  font-size: 60%;
  }

.tiny
  {
  font-size: 6pt;
  }

html, body
  {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "OpenSans", sans-serif !important;
  font-style: normal;
  font-weight: 200;
  font-size: 12pt !important;
  }

h5
  {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0;
  }

#navbarMain
  {
  position: absolute !important;
  z-index: 2000;
  width: 100%;
  top: 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }

#charthouse
  {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: url(images/maps.jpg);
  background-size: cover;
  overflow: hidden;
  }

#crosshair
  {
  position: absolute;
  display: block;
  cursor: default;
  z-index: 1;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  font-size: 12pt;
  text-shadow: -1px -1px 0 #FFF, 1px -1px #FFF, -1px 1px #FFF, 1px 1px #FFF;
  pointer-events: none;
  }

#header
  {
  display: none;
  position: absolute;
  z-index: 2000;
  left: 0;
  right: 0;
  height: 1.25em;
  max-height: 1.25em;
  top: 0;
  padding: 2px;
  margin: 0;
  border-radius: 0;
  text-align: center;
  }

#footer
  {
  display: none;
  position: absolute;
  z-index: 2000;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px;
  margin: 0;
  border-radius: 0;
  text-align: center;
  }

.uk-modal,
.uk-notification,
.uk-offcanvas
  {
  z-index: 5000;
  }

.ch-offcanvas-large
  {
  width: 400px;
  }

.ch-offcanvas-xlarge
  {
  width: 500px;
  }

.ch-offcanvas-xxlarge
  {
  width: 600px;
  }

/* for <a> tags without href */
a:hover
  {
  cursor: pointer;
  }

/* Table */
.borderless td,
.borderless th
  {
  text-align: left;
  padding: 4px 10px 4px 4px;
  border: none;
  cursor: text;
  }

.indent
  {
  padding-left: 30px;
  }

.italic
  {
  font-style: italic;
  }

/* OpenLayers */

/* don't show, we have our own */
.ol-zoom,
.ol-rotate
  {
  display: none;
  }

.ol-attribution,
.ol-full-screen,
.ol-scale-line
  {
  margin: 0px !important;
  padding: 1px !important;
  background-color: #FFF;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }

.ol-button button,
.ol-attribution button,
.ol-full-screen button,
.ol-scale-line-inner
  {
  margin: 1px !important;
  padding: 0px !important;
  opacity: 1;
  color: #333;
  background-color: #EEE;
  }

.ol-button-wide
  {
  width: 3em !important;
  }

.ol-scale-line,
.ol-scale-line-inner
  {
  margin: 0px !important;
  padding: 0px !important;
  }

.ol-button button:hover,
.ol-attribution button:hover,
.ol-full-screen button:hover
  {
  opacity: 1;
  color: #FFF;
  background-color: #568;
  }

.ol-active,
.ol-toggle.ol-active
  {
  background-color: #9F9 !important;
  }

/* End OpenLayers */

.badge
  {
  position: absolute;
  margin: 4px;
  padding: 8px 4px 6px 4px;
  border-radius: 8px;
  color: #FFF;
  background-color: #777;
  }

.badge-tiny
  {
  position: absolute;
  margin: 1px;
  padding: 3px 3px 2px 3px;
  border-radius: 3px;
  color: #FFF;
  background-color: #777;
  }

/* Choosing safe colours (for color blindness)
   http://safecolours.rigdenage.com/colourchoice.html
   (c) Christine Rigden 1997, updated 2010 */
.lightblue { color: #333; background-color: #CFF; }
.lightblue-hover:hover { color: #FFF; background-color: #8AA; }

.blue { color: #333; background-color: #9CF; }
.blue-hover:hover { color: #FFF; background-color: #78A; }

.darkblue { color: #FFF; background-color: #78A; }
.darkblue-hover:hover { color: #FFF; background-color: #568; }

.lightgray { color: #333; background-color: #EEE; }
.lightgray-hover:hover { color: #555; background-color: #FFF; }

.green { color: #333; background-color: #9F9; }
.green-hover:hover { color: #FFF; background-color: #7A7; }

.darkgreen-fore { color: #0B0; }

.lightred { color: #333; background-color: #FDD; }
.lightred-hover:hover { color: #333; background-color: #FDD; }

.red { color: #FFF; background-color: #F66; }
.red-hover:hover { color: #FFF; background-color: #A55; }

.red { color: #FFF; background-color: #F66; }
.red-fore { color: #F66; }
.red-hover:hover { color: #FFF; background-color: #A55; }

.yellow { color: #333; background-color: #FC3; }
.yellow-hover:hover { color: #FFF; background-color: #A84; }

.white-bg { background-color: #FFF; }

.white { color: #333; background-color: #FFF; }
.white-hover:hover { color: #FFF; background-color: #333; }

/* Button Group */
/* https://www.w3schools.com/howto/howto_css_button_group.asp */
/* https://www.w3schools.com/howto/howto_css_button_group_vertical.asp */

#buttonBar
  {
  top: 0.5em;
  top: 2.5em;
  right: 5em;
  }

#buttonFollow
  {
  display: none;
  opacity: 0;
  }

.btn-group
  {
  position: absolute;
  padding: 0px;
  z-index: 1900;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }

.btn-group button
  {
  font-size: 1.14em;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 1px;
  margin: 0px;
  width: 2em;
  border: 2px solid #FFF;
  border-radius: 4px;
  }

.btn-group button:active
  {
  transform: translateY(2px);
  }

.btn-group-horiz button
  {
  float: left;
  }

.btn-group-horiz button:not(:last-child)
  {
  border-right: none;
  }

.btn-group-vert button
  {
  display: block;
  }

.btn-group-vert button:not(:last-child)
  {
  border-bottom: none;
  }

.btn-group:after
  {
  content: "";
  clear: both;
  display: table;
  }

/* End Button Group */

.ch-center
  {
  text-align: center;
  vertical-align: middle;
  }

.ch-wordbreak
  {
  word-wrap: break-word; /* so we don't get overflowing lines of text */
  }

.ch-button
  {
  padding: 3px 4px 3px 5px !important;
  line-height: 14pt;
  font-size: 14pt;
  text-align: center;
  vertical-align: middle;
  pointer-events: auto !important;
  color: #0B3C5D;
  background-color: #F8F8F8;
  }

.ch-button:hover
  {
  color: #F8F8F8;
  background-color: #0B3C5D;
  }

.ch-position-bottom-right
  {
  position: absolute;
  bottom: 1em;
  right: 2em;
  }

.ch-pointer
  {
  text-align: center;
  vertical-align: middle;
  transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  }

.ch-margin-remove
  {
  margin: 0 !important;
  }

.ch-margin-x-small
  {
  padding: 2px 2px 2px 2px !important;
  }

.ch-margin-x-small-right
  {
  margin-right: 2px !important;
  }

.ch-padding-remove
  {
  padding: 0 !important;
  }

.ch-padding-x-small
  {
  padding: 2px 2px 2px 2px !important;
  }

.ch-padding-x-small-right
  {
  padding-right: 2px !important;
  }

.ch-padding-x-small-bottom
  {
  padding-bottom: 2px !important;
  }

.ch-padding-small
  {
  padding: 4px 4px 4px 4px !important;
  }

.ch-card-body
  {
  max-width: 40vw;
  max-height: 40vh;
  overflow: auto;
  }

#compassRoseCard
  {
  height: 25%;
  padding: 0;
  margin: 0;
  pointer-events: none;
  }

#compassRose
  {
  height: 100%;
  padding: 0;
  margin: 0;
  pointer-events: none;
  }

.compassRose
  {
  height: 100%;
  padding: 0;
  margin: 0;
  pointer-events: none;
  }

.compassRose #azimuth
  {
  font-size: 28px !important;
  font-family: sans-serif;
  }

.compassRose text
  {
  font-size: 22px;
  font-family: sans-serif;
  }
.compassRose .tick
  {
  stroke: #555;
  }
.compassRose .north
  {
  stroke: #555;
  stroke-width: 5px;
  fill: none;
  marker-end: url(#markerArrow);
  }

.compassRose .marker
  {
  fill: #555;
  }

.no-click
  {
  pointer-events: none;
  }

.click
  {
  pointer-events: auto;
  }

.spin
  {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  }
@-ms-keyframes spin
  {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
  }
@-moz-keyframes spin
  {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
  }
@-webkit-keyframes spin
  {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
  }
@keyframes spin
  {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
  }

.rotate-90
  {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  }

.rotate-225
  {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  }

#hud
  {
  top: 3em;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }

#popupFeature
  {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }

.noselect
  {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }

.select
  {
  cursor: text;
  -webkit-touch-callout: auto !important; /* iOS Safari */
    -webkit-user-select: auto !important; /* Safari */
     -khtml-user-select: auto !important; /* Konqueror HTML */
       -moz-user-select: auto !important; /* Firefox */
        -ms-user-select: auto !important; /* Internet Explorer/Edge */
            user-select: auto !important; /* Non-prefixed version, currently
                                             supported by Chrome and Opera */
  }

.ch-keycap
  {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.3em 0.25em 0.25em 0.25em;
  background-color: #EEE;
  font-size: 75%;
  text-align: center;
  }

.ch-close
  {
  color: #A55 !important;
  background-color: #FFF !important;
  }
.ch-close:hover
  {
  font-weight: bold !important;
  color: #F66 !important;
  background-color: #FFF !important;
  }

input[type=range]::-webkit-slider-thumb
  {
  background-color: #1e87f0;
  }
input[type=range]::-moz-range-thumb
  {
  background-color: #1e87f0;
  }
input[type=range]::-ms-thumb
  {
  background-color: #1e87f0;
  }

