
<!--
  Charthouse
  https://gitlab.com/fjorden/charthouse
  Copyright 2017-2019 Fjorden
-->

<nav id="navbarMain" class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left uk-margin-left">
    <div class="uk-logo" id="title">Charthouse</div>
  </div>

  <div class="uk-navbar-right uk-margin-right">

    <button style="display:none" id="buttonDirections"
      class="uk-button uk-button-primary uk-border-rounded ch-button"
      title="Move" uk-tooltip="pos:bottom; delay:1000;">
      <i class="fas fa-arrows-alt fa-fw"></i>
    </button>
    <div uk-dropdown class="uk-border-rounded
      uk-margin-remove ch-padding-x-small click" style="min-width:auto">

      <table class="uk-table uk-margin-remove ch-padding-x-small">
        <tbody>
          <tr class="uk-margin-remove ch-padding-x-small">
            <td class="uk-margin-remove ch-padding-x-small">
              <button id="buttonZoomIn" class="uk-button uk-button-primary
                uk-border-rounded ch-button"
                title="Zoom in" uk-tooltip="pos:right; delay:1000;"
                onclick="zoomIn()">
                <i class="fas fa-plus fa-fw"></i>
              </button>
            </td>
            <td class="uk-margin-remove ch-padding-x-small">
              &nbsp;
            </td>
            <td class="uk-margin-remove ch-padding-x-small">
              <button id="buttonPanNorth" class="uk-button uk-button-primary
                uk-border-rounded ch-button"
                title="Pan north" uk-tooltip="pos:right; delay:1000;"
                onclick="panNorth()">
                <i class="fas fa-arrow-up fa-fw"></i>
              </button>
            </td>
            <td class="uk-margin-remove ch-padding-x-small">
            </td>
          </tr>
          <tr class="uk-margin-remove ch-padding-x-small">
            <td class="uk-margin-remove ch-padding-x-small">
              <button id="buttonZoomOut" class="uk-button uk-button-primary
                uk-border-rounded ch-button"
                title="Zoom out" uk-tooltip="pos:right; delay:1000;"
                onclick="zoomOut()">
                <i class="fas fa-minus fa-fw"></i>
              </button>
            </td>
            <td class="uk-margin-remove ch-padding-x-small">
              <button id="buttonPanWest" class="uk-button uk-button-primary
                uk-border-rounded ch-button"
                title="Pan west" uk-tooltip="pos:right; delay:1000;"
                onclick="panWest()">
                <i class="fas fa-arrow-left fa-fw"></i>
              </button>
            </td>
            <td class="uk-margin-remove ch-padding-x-small">
              &nbsp;
            </td>
            <td class="uk-margin-remove ch-padding-x-small">
              <button id="buttonPanEast" class="uk-button uk-button-primary
                uk-border-rounded ch-button"
                title="Pan east" uk-tooltip="pos:right; delay:1000;"
                onclick="panEast()">
                <i class="fa fa-arrow-right fa-fw"></i>
              </button>
            </td>
          </tr>
          <tr class="uk-margin-remove ch-padding-x-small">
            <td class="uk-margin-remove ch-padding-x-small">
              &nbsp;
            </td>
            <td class="uk-margin-remove ch-padding-x-small">
              &nbsp;
            </td>
            <td class="uk-margin-remove ch-padding-x-small">
              <button id="buttonPanSouth" class="uk-button uk-button-primary
                uk-border-rounded ch-button"
                title="Pan south" uk-tooltip="pos:right; delay:1000;"
                onclick="panSouth()">
                <i class="fas fa-arrow-down fa-fw"></i>
               </button>
            </td>
            <td class="uk-margin-remove ch-padding-x-small">
              &nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <button id="buttonFollow" class="uk-button uk-button-primary
      uk-border-rounded ch-button"
      title="Following a feature" uk-tooltip="pos:bottom; delay:1000;">
      <i class="fas fa-thumbtack fa-fw"></i><br>
      <span id="badgeFollow" class="badge-tiny tiny red">On</span>
    </button>

    <button id="buttonSearch" class="uk-button uk-button-primary
      uk-border-rounded ch-button"
      title="Search for a feature" uk-tooltip="pos:bottom; delay:1000;">
      <i class="fas fa-search fa-fw"></i>
    </button>
    <div uk-dropdown="mode:click"
      class="uk-border-rounded ch-padding-x-small click">
      <form onsubmit="featuresSearch('searchName'); return false">
        <label for="searchName">
          <i class="fas fa-search fa-fw"></i></label>
        </label>
        <input class="uk-input" type="text" placeholder="Search..."
          id="searchName" />
      </form>
    </div>

    <button id="buttonFilter" class="uk-button uk-button-primary
      uk-border-rounded ch-button"
      style="display:none"
      title="Filter features" uk-tooltip="pos:bottom; delay:1000;">
      <i class="fas fa-filter fa-fw"></i>
    </button>
    <div uk-dropdown="mode:click"
      class="uk-border-rounded ch-padding-x-small click">
      <form onsubmit="featuresFilter(); return false"
        onchange="featuresFilter()">
        <label for="filterName">
          <i class="fas fa-filter fa-fw"></i></label>
        </label>
        <input class="uk-input" type="text" placeholder="Filter..."
          id="filterName" />
      </form>
    </div>

    <button id="buttonMeasure" class="uk-button uk-button-primary
      uk-border-rounded ch-button"
      title="Measure distance" uk-tooltip="pos:bottom; delay:1000;">
      <i class="fas fa-ruler fa-fw"></i>
    </button>

    <button id="buttonMarkerAdd" class="uk-button uk-button-primary
      uk-border-rounded ch-button"
      style="display:none"
      title="Add marker to map" uk-tooltip="pos:bottom; delay:1000;">
      <i class="fas fa-map-marker fa-fw"></i>
    </button>

    <button id="buttonLayersData" class="uk-button uk-button-primary
      uk-border-rounded ch-button"
      title="Data layers" uk-tooltip="pos:bottom; delay:1000;"
      uk-toggle="target:#displayLayersData">
      <i class="fas fa-layer-group fa-fw"></i>
    </button>

    <button id="buttonLayersMaps" class="uk-button uk-button-primary
      uk-border-rounded ch-button"
      title="Map layers" uk-tooltip="pos:bottom; delay:1000;"
      uk-toggle="target:#displayLayersMaps">
      <i class="fas fa-map fa-fw"></i>
    </button>

    <button id="buttonIllumination" class="uk-button uk-button-primary
      uk-border-rounded ch-button"
      title="Illumination" uk-tooltip="pos:bottom; delay:1000;"
      uk-toggle="target:#displayIllumination">
      <i class="fas fa-sun fa-fw"></i>
    </button>

    <button id="buttonEmail" class="uk-button uk-button-primary
      uk-border-rounded ch-button"
      title="Email link to map view" uk-tooltip="pos:bottom; delay:1000;"
      onclick="viewLinkEmail()">
      <i class="fas fa-envelope fa-fw"></i>
    </button>

    <button id="buttonStatistics" class="uk-button uk-button-primary
      uk-border-rounded ch-button"
      title="Statistics" uk-tooltip="pos:bottom; delay:1000;"
      uk-toggle="target:#displayStatistics">
      <i class="fas fa-chart-bar fa-fw"></i>
    </button>

    <button id="buttonSettings" class="uk-button uk-button-primary
      uk-border-rounded ch-button"
      title="Preferences" uk-tooltip="pos:bottom; delay:1000;"
      uk-toggle="target:#displayPreferences">
      <i class="fas fa-cogs fa-fw"></i>
    </button>

    <button id="buttonHelp" class="uk-button uk-button-primary
      uk-border-rounded ch-button"
      title="Help" uk-tooltip="pos:bottom; delay:1000;"
      uk-toggle="target:#displayHelp">
      <i class="fas fa-question-circle fa-fw"></i>
    </button>

    <button id="buttonAbout" class="uk-button uk-button-primary
      uk-border-rounded ch-button"
      title="About" uk-tooltip="pos:bottom; delay:1000;"
      uk-toggle="target:#displayAbout">
      <i class="fas fa-info-circle fa-fw"></i>
    </button>

  </div>
</nav>

<div id="crosshair">+</div>
<div id="header"></div>

<!-- HUD -->
<div id="hud" class="uk-card uk-background-default uk-position-top-left
  uk-position-z-index uk-margin-small-top uk-margin-small-left
  uk-border-rounded ch-padding-x-small">
  <div id="datetime" class="select" uk-tooltip="pos:right; delay:1000;"
    title="Date/time UTC"></div>
  <div id="positionCenter" class="select" uk-tooltip="pos:right; delay:1000;"
    title="Center position"></div>
  <div id="positionCursor" class="select" uk-tooltip="pos:right; delay:1000;"
    title="Cursor position"></div>
  <div id="positionDistAz" class="select" uk-tooltip="pos:right; delay:1000;"
    title="Distance/azimuth from center to cursor"></div>
  <div id="diagnostics"></div>
</div>

<!-- Compass rose -->
<div id="compassRoseCard" class="uk-card uk-background-transparent
  ch-position-bottom-right uk-position-z-index uk-margin-small
  uk-margin-small uk-padding-small uk-border-rounded">

  <svg id="compassRose" class="compassRose" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500">
    <title>Compass Rose</title>
    <defs>
      <path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
        id="textcircle" transform="rotate(84 250 250)">
      </path>
      <symbol>
        <rect x="240" y="135" width="20" height="115" id="redstripe"/>
        <rect x="240" y="250" width="20" height="115" id="whitestripe"/>
      </symbol>

      <marker id="markerArrow" markerWidth="13" markerHeight="30" refX="2"
        refY="6" orient="auto">
        <path class="marker" d="M1,2 L1,10 L10,6 L1,2" />
      </marker>
    </defs>

    <text id="azimuth" dx="215" dy="90">000</text>

    <g id="card">
      <path class="north" d="M250,340 L250,200" />

      <path class="tick" d="M250,135 L250,125" />
      <path class="tick" d="M250,135 L250,125" transform="rotate(30 250 250)" />
      <path class="tick" d="M250,135 L250,125" transform="rotate(60 250 250)" />
      <path class="tick" d="M250,135 L250,125" transform="rotate(90 250 250)" />
      <path class="tick" d="M250,135 L250,125" transform="rotate(120 250 250)" />
      <path class="tick" d="M250,135 L250,125" transform="rotate(150 250 250)" />
      <path class="tick" d="M250,135 L250,125" transform="rotate(180 250 250)" />
      <path class="tick" d="M250,135 L250,125" transform="rotate(210 250 250)" />
      <path class="tick" d="M250,135 L250,125" transform="rotate(240 250 250)" />
      <path class="tick" d="M250,135 L250,125" transform="rotate(270 250 250)" />
      <path class="tick" d="M250,135 L250,125" transform="rotate(300 250 250)" />
      <path class="tick" d="M250,135 L250,125" transform="rotate(330 250 250)" />

      <text dx="230" dy="120">000</text>
      <text dx="230" dy="120" transform="rotate(30 250 250)">030</text>
      <text dx="230" dy="120" transform="rotate(60 250 250)">060</text>
      <text dx="228" dy="120" transform="rotate(90 250 250)">090</text>
      <text dx="228" dy="120" transform="rotate(120 250 250)">120</text>
      <text dx="228" dy="120" transform="rotate(150 250 250)">150</text>
      <text dx="228" dy="120" transform="rotate(180 250 250)">180</text>
      <text dx="228" dy="120" transform="rotate(210 250 250)">210</text>
      <text dx="232" dy="120" transform="rotate(240 250 250)">240</text>
      <text dx="230" dy="120" transform="rotate(270 250 250)">270</text>
      <text dx="230" dy="120" transform="rotate(300 250 250)">300</text>
      <text dx="228" dy="120" transform="rotate(330 250 250)">330</text>

      <text dx="241" dy="155">N</text>
      <text dx="243" dy="155" transform="rotate(90 250 250)">E</text>
      <text dx="243" dy="155" transform="rotate(180 250 250)">S</text>
      <text dx="240" dy="155" transform="rotate(270 250 250)">W</text>
    </g>

  </svg>

</div>

<div id="toolbar" style="display:none !important" class="uk-card uk-background-transparent
  uk-position-top-right uk-position-z-index uk-margin-top uk-margin-right
  no-click">

    <ul class="ch-padding-x-small uk-background-default
      uk-border-rounded uk-navbar-nav">

      <li class="uk-padding-remove-horizontal ch-padding-x-small-right">
        <button id="buttonFollow1" class="uk-button uk-button-primary
          uk-border-rounded ch-button"
          title="Following a feature" uk-tooltip="pos:bottom; delay:1000;">
          <i class="fas fa-thumbtack fa-fw"></i><br>
          <span class="tiny badge-tiny red">On</span>
        </button>
      </li>

    </ul>

    <br>

    <ul class="uk-iconnav uk-iconnav-vertical uk-align-right
      ch-padding-x-small uk-background-default uk-border-rounded">

      <li class="uk-padding-remove-vertical ch-padding-x-small-bottom">
        <button id="buttonZoomIn" class="uk-button uk-button-primary
          uk-border-rounded ch-button"
          title="Zoom in" uk-tooltip="pos:left; delay:1000;"
          onclick="zoomIn()">
          <i class="fas fa-plus fa-fw"></i>
        </button>
      </li>

      <li class="uk-padding-remove-vertical">
        <button id="buttonZoomOut" class="uk-button uk-button-primary
          uk-border-rounded ch-button"
          title="Zoom Out" uk-tooltip="pos:left; delay:1000;"
          onclick="zoomOut()">
          <i class="fas fa-minus fa-fw"></i>
        </button>
      </li>
    </ul>
</div>

<div id="displayLayersData" uk-offcanvas="flip:true">
  <div class="uk-offcanvas-bar ch-offcanvas-xxlarge noselect">

    <h3>
      <i class="fas fa-database fa-fw"></i> Data sources
    </h3>

    <button class="uk-offcanvas-close uk-border-rounded
      uk-float-right ch-close" type="button" uk-close></button>

    <form id="formDataLayers" onchange="layersAllSetVisible()">
      <table class="borderless" id="formDataLayersTable">
      </table>
    </form>
    <hr>

    <div class="uk-grid-small uk-margin" uk-grid>
      <div>
        <button id="buttonShowLayersData" class="uk-button uk-button-primary
          uk-button-small uk-border-rounded"
          title="Select all data sources"
          onclick="layersDataSetVisible()"
          uk-tooltip="pos:bottom; delay:1000;">
          Select all
        </button>
      </div>
      <div>
        <button id="buttonHideLayersData" class="uk-button uk-button-primary
          uk-button-small uk-border-rounded"
          title="Deselect all data sources"
          onclick="layersDataSetInvisible()"
          uk-tooltip="pos:bottom; delay:1000;">
            Deselect all
        </button>
       </div>
    </div>

  </div>
</div>
</div>

<div id="displayLayersMaps" uk-offcanvas="flip:true">
  <div class="uk-offcanvas-bar ch-offcanvas-xxlarge noselect">

    <h3 class="uk-modal-title">
      <i class="fas fa-map fa-fw"></i> Maps
    </h3>

    <button class="uk-offcanvas-close uk-border-rounded
      uk-float-right ch-close" type="button" uk-close></button>

    <form id="formMapsLayers" onchange="layersAllSetVisible()">
      <table class="borderless" id="formMapsLayersTable">
      </table>
    </form>

  </div>
</div>

<div id="displayIllumination" uk-offcanvas="flip:true">
  <div class="uk-offcanvas-bar ch-offcanvas-large noselect">

    <h3 class="uk-modal-title">
      <i class="fas fa-sun fa-fw"></i> Illumination
    </h3>

    <button class="uk-offcanvas-close uk-border-rounded
      uk-float-right ch-close" type="button" uk-close></button>

    <table class="borderless">
      <tbody>
        <tr>
          <td class="x-large">+</td>
          <td><b>Map Center</b></td>
          <td id="obsLocation"></td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <td class="x-large">☼</td> <!-- 0x263C -->
          <td><b>Sun</b></td>
        </tr>
        <tr>
          <td></td>
          <td><i class="fas fa-clock fa-fw"></i>
            Local solar time</td>
          <td id="sunLocalSolarTime"></td>
        </tr>
        <tr>
          <td></td>
          <td><i class="wi wi-sunrise wi-fw"></i> Rise</td>
          <td id="sunRise"></td>
        </tr>
        <tr>
          <td></td>
          <td><i class="wi wi-sunset wi-fw"></i> Set</td>
          <td id="sunSet"></td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <td class="x-large">☾</td> <!-- 0x263E -->
          <td><b>Moon</b></td>
        </tr>
        <tr>
          <td></td>
          <td><i class="wi wi-night-clear wi-fw"></i> Phase</td>
          <td id="moonPhase"></td>
        </tr>
        <tr>
          <td></td>
          <td><i class="fas fa-lightbulb fa-fw"></i> Illumination</td>
          <td id="moonIllum"></td>
        </tr>
        <tr>
          <td></td>
          <td><i class="wi wi-moonrise wi-fw"></i> Rise</td>
          <td id="moonRise"></td>
        </tr>
        <tr>
          <td></td>
          <td><i class="wi wi-moonset wi-fw"></i> Set</td>
          <td id="moonSet"></td>
        </tr>
        <tr>
          <td></td>
          <td><i class="wi wi-moon-new wi-fw"></i> Next new</td>
          <td id="moonNextNew"></td>
        </tr>
        <tr>
          <td></td>
          <td><i class="wi wi-moon-full wi-fw"></i> Next full</td>
          <td id="moonNextFull"></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div id="displayPreferences" uk-offcanvas="flip:true">
  <div class="uk-offcanvas-bar ch-offcanvas-large noselect">

    <h3 class="uk-modal-title">
      <i class="fas fa-cogs fa-fw"></i> Preferences
    </h3>

    <button class="uk-offcanvas-close uk-border-rounded
      uk-float-right ch-close" type="button" uk-close></button>

    <form id="formSettings" onchange="settingsSave()">
      <h5>
        <i class="fas fa-plus fa-fw"></i>
        Position format
      </h5>
      <div class="tooltip" title="DD.dddd°H DDD.dddd°H">
        <label class="indent" for="degrees">
          <input type="radio" name="posFormat" id="degrees"
            value="degrees" class="uk-radio" />
          Decimal degrees
        </label>
      </div>
      <div class="tooltip" title="DD°MM.mm′H DDD°MM.mm′H">
        <label class="indent" for="degmin">
          <input type="radio" name="posFormat" id="degmin"
            value="degmin" class="uk-radio" />
          Degrees, decimal minutes
        </label>
      </div>
      <div class="tooltip" title="DD°MM′SS″H DDD°MM′SS″H">
        <label class="indent" for="dms">
          <input type="radio" name="posFormat" id="dms" value="dms"
            class="uk-radio" />
          Degrees, minutes, seconds
        </label>
      </div>
      <div class="tooltip"
        title="Universal Transverse Mercator ZZ H EEEEEE NNNNNNN">
        <label class="indent" for="utm">
          <input type="radio" name="posFormat" id="utm" value="utm"
            class="uk-radio" />
          UTM
        </label>
      </div>
      <div class="tooltip"
        title="Military Grid Reference System GGG MM EEEEE NNNNN">
        <label class="indent" for="mgrs">
          <input type="radio" name="posFormat" id="mgrs"
            value="mgrs" class="uk-radio" />
          MGRS
        </label>
      </div>

      <h5>
        <i class="fa fa-arrow-right fa-fw"></i> Distance and speed units
      </h5>
      <div class="tooltip" title="kilometers, meters, km/h">
        <label class="indent" for="metric">
          <input type="radio" name="distUnits" id="metric"
            value="metric" class="uk-radio" />
          Metric
        </label>
      </div>
      <div class="tooltip" title="nautical miles, feet, knots">
        <label class="indent" for="nautical">
          <input type="radio" name="distUnits" id="nautical"
            value="nautical" class="uk-radio" />
          Nautical
        </label>
      </div>
      <div class="tooltip" title="statute miles, feet, mph">
        <label class="indent" for="uscustomary">
          <input type="radio" name="distUnits" id="uscustomary"
            value="uscustomary" class="uk-radio" />
          U.S. Customary
        </label>
      </div>

      <h5>
        <i class="fas fa-arrow-up fa-fw"></i> Altitude units
      </h5>
      <div>
        <label class="indent" for="meters">
          <input type="radio" name="altUnits" id="meters"
            value="meters" class="uk-radio" />
          Meters
        </label>
      </div>
      <div>
        <label class="indent" for="feet">
          <input type="radio" name="altUnits" id="feet"
            value="feet" class="uk-radio" />
          Feet (U.S. Customary)
        </label>
      </div>

      <h5>
        <i class="fas fa-cog fa-fw"></i> Other options
      </h5>
      <div class="tooltip"
        title="Enable browser geolocation and plot location on map">
        <label class="indent" for="geolocation">
          <input type="checkbox" name="geolocation"
            id="geolocation" class="uk-checkbox" />
          Browser geolocation
        </label>
      </div>
      <div class="tooltip" title="Rotate map to match feature's azimuth">
        <label class="indent" for="followTrackUp">
          <input type="checkbox" name="followTrackUp"
            id="followTrackUp" class="uk-checkbox" />
          Follow with track up
        </label>
      </div>
      <div>
        <label class="indent" for="showCrosshair">
          <input type="checkbox" name="showCrosshair"
            id="showCrosshair" class="uk-checkbox" />
          Show center crosshair
        </label>
      </div>
      <div>
        <label class="indent" for="showFeaturesCount">
          <input type="checkbox" name="showFeaturesCount"
            id="showFeaturesCount" class="uk-checkbox" />
          Show layer feature statistics
        </label>
      </div>

      <h5>
        <i class="fas fa-wrench fa-fw"></i> Advanced options
        <font class="small uk-text-muted italic">
          for developers only</font>
      </h5>
      <div>
        <label class="indent" for="showDiagnostics">
          <input type="checkbox" name="showDiagnostics"
            id="showDiagnostics" class="uk-checkbox" />
          Show diagnostic information
        </label>
      </div>
      <div>
        <label class="indent" for="showDebug">
          <input type="checkbox" name="showDebug" id="showDebug"
            class="uk-checkbox" />
          Console debug messages
        </label>
      </div>
      <div>
        <label class="indent" for="showFeaturesAll">
          <input type="checkbox" name="showFeaturesAll"
            id="showFeaturesAll" class="uk-checkbox" />
          Always show features
        </label>
      </div>
    </form>

  </div>
</div>

<div id="displayAbout" uk-offcanvas="flip:true">
  <div class="uk-offcanvas-bar ch-offcanvas-large noselect">

    <h3 class="uk-modal-title">
      <i class="fas fa-info-circle fa-fw"></i> About
    </h3>

    <button class="uk-offcanvas-close uk-border-rounded
      uk-float-right ch-close" type="button" uk-close></button>

    <div id="aboutContent"></div>

  </div>
</div>

<div id="displayStatistics" uk-offcanvas="flip:true">
  <div class="uk-offcanvas-bar ch-offcanvas-xxlarge noselect">

    <h3 class="uk-modal-title">
      <i class="fas fa-chart-bar fa-fw"></i> Statistics
    </h3>

    <button class="uk-offcanvas-close uk-border-rounded
      uk-float-right ch-close" type="button" uk-close></button>

    <div id="statisticsContent">
      <h4> Features </h4>
      <h5> Total </h5>
      <canvas id="statisticsCanvas" width="400" height="200"></canvas>
    </div>

  </div>
</div>

<div id="displayHelp" uk-offcanvas="flip:true">
  <div class="uk-offcanvas-bar ch-offcanvas-xxlarge noselect">

    <h3 class="uk-modal-title">
      <i class="fas fa-question-circle fa-fw"></i> Help
    </h3>

    <button class="uk-offcanvas-close uk-border-rounded
      uk-float-right ch-close" type="button" uk-close></button>

    <div id="helpContent"></div>

  </div>
</div>

<div id="popupSmall" class="uk-card uk-background-default
  uk-position-z-index uk-margin-remove uk-border-rounded ch-padding-x-small
  uk-animation-fade uk-animation-fast">
  <div class="uk-card-body uk-margin-remove ch-padding-x-small ch-card-body">
    <div id="popupSmallContent"></div>
  </div>
</div>

<div id="popupFeature" class="uk-card uk-background-default
  uk-position-z-index uk-margin-remove uk-border-rounded ch-padding-x-small
  uk-animation-fade uk-animation-fast">
  <div id="popupFeatureHeader" class="uk-card-header uk-margin-remove
    ch-padding-x-small">
    <i class="fas fa-crosshair fa-fw"></i>
    <button class="uk-position-top-right ch-padding-small ch-close"
      type="button" uk-close onclick="popupFeatureClose()"></button>
  </div>
  <div class="uk-card-body uk-margin-remove ch-padding-x-small ch-card-body">
    <div id="popupFeatureContent"></div>
  </div>
</div>

<div id="footer"></div>

