
<!--
  Charthouse
  https://gitlab.com/fjorden/charthouse
  Copyright 2017-2019 Fjorden
-->

<ul uk-accordion>

<!--
  <li>
    <h3 class="uk-accordion-title"> Toolbar </h3>
    <div class="uk-accordion-content">
      <p> Content... </p>
    </div>
  </li>
-->

<!--
  <li>
    <h3 class="uk-accordion-title"> Zoom tools </h3>
    <div class="uk-accordion-content">
      <p> Content... </p>
    </div>
  </li>
-->

<!--
  <li>
    <h3 class="uk-accordion-title"> Scale line </h3>
    <div class="uk-accordion-content">
      <p> Content... </p>
    </div>
  </li>
-->

<!--
  <li>
    <h3 class="uk-accordion-title"> Feature search </h3>
    <div class="uk-accordion-content">
      <p> Content... </p>
    </div>
  </li>
-->
<!--
  <li>
    <h3 class="uk-accordion-title"> Feature filter </h3>
    <div class="uk-accordion-content">
      <p> Content... </p>
    </div>
  </li>
-->
<!--
  <li>
    <h3 class="uk-accordion-title"> Distance measure </h3>
    <div class="uk-accordion-content">
      <p> Content... </p>
    </div>
  </li>
-->
<!--
  <li>
    <h3 class="uk-accordion-title"> Data layers </h3>
    <div class="uk-accordion-content">
      <p> Content... </p>
    </div>
  </li>
-->
<!--
  <li>
    <h3 class="uk-accordion-title"> Illumination </h3>
    <div class="uk-accordion-content">
      <p> Content... </p>
    </div>
  </li>
-->
<!--
  <li>
    <h3 class="uk-accordion-title"> Preferences </h3>
    <div class="uk-accordion-content">
      <p> Content... </p>
    </div>
  </li>
-->

  <li>
    <h3 class="uk-accordion-title"> Head-up Display (HUD) </h3>

    <div class="uk-accordion-content">

      <p> The HUD show information pertinent to the map, its center,
      and the mouse cursor. </p>

      <table>
        <tbody>
          <tr>
            <td>
              <i class="fas fa-clock fa-fw"></i>
              Apr 29 2018 11:36:27Z
            </td>
            <td>Browser's current date/time in UTC</td>
          </tr>
          <tr>
            <td>
              <i class="fas fa-plus fa-fw"></i> 41.8825°N 012.5029°E
            </td>
            <td>Map center's latitude/longitude</td>
          </tr>
          <tr>
            <td>
              <i class="fas fa-mouse-pointer fa-fw"></i>
              41.9002°N 012.4693°E
            </td>
            <td>Mouse pointer's current latitude/longitude</td>
          </tr>
          <tr>
            <td>
              <i class="fas fa-arrow-right fa-fw"></i>
              2.8km 309°T
            </td>
            <td>Distance and azimuth from map center to mouse cursor</td>
          </tr>
        </tbody>
      </table>

    </div>
  </li>

  <li>

    <h3 class="uk-accordion-title">
      <i class="fas fa-keyboard fa-fw"></i> Keyboard
    </h3>

    <div class="uk-accordion-content">

      <p> Clicking on the map itself may be required (to give the map
      "focus") so the following keyboard shortcuts can be used. </p>

      <table class="uk-table">
<!--
        <thead>
          <tr><td class="uk-text-bold">Key</td>
              <td class="uk-text-bold">Action</td></tr>
        <thead>
-->
        <tbody>

          <tr>
            <td class="uk-text-large">
              <div class="ch-keycap">↑</div>
            </td>
            <td>Pan map north</td>
          </tr>

          <tr>
            <td class="uk-text-large">
              <div class="ch-keycap">↑</div>
            </td>
            <td>Pan map north</td>
          </tr>

          <tr>
            <td class="uk-text-large">
              <div class="ch-keycap">↓</div>
            </td>
            <td>Pan map south</td>
          </tr>

          <tr>
            <td class="uk-text-large">
              <div class="ch-keycap">→</div>
            </td>
            <td>Pan map east</td>
          </tr>

          <tr>
            <td class="uk-text-large">
              <div class="ch-keycap">←</div>
            </td>
            <td>Pan map west</td>
          </tr>

          <tr>
            <td class="uk-text-large">
              <div class="ch-keycap">-</div>
            </td>
            <td>Zoom out</td>
          </tr>

          <tr>
            <td class="uk-text-large">
              <div class="ch-keycap">+</div>
            </td>
            <td>Zoom in</td>
          </tr>

          <tr>
            <td class="uk-text-large">
              <div class="ch-keycap">=</div>
            </td>
            <td>Zoom in</td>
          </tr>

          <tr>
            <td class="uk-text-large">
              <div class="ch-keycap">r</div>
            </td>
            <td>Rotate map to point north</td>
          </tr>

        </tbody>
      </table>
    </div>
  </li>

  <li>
    <h3 class="uk-accordion-title">
      <i class="fas fa-map fa-fw"></i> Map layers
    </h3>

    <div class="uk-accordion-content">

      <p> Map layer sliders adjust the layer's transparency. </p>

      <p> Adjusting layer transparency allows one layer to be "seen"
      through another layer.  For example, a semi-transparent weather
      layer's clouds will not completely obscure the roads on a street
      map layer below. </p>

    </div>
  </li>

  <li>
    <h3 class="uk-accordion-title">
      <i class="fas fa-mouse-pointer fa-fw"></i> Mouse
    </h3>

    <div class="uk-accordion-content">

      <p> Use the following mouse actions to interact with the map. </p>

      <table class="uk-table">
<!--
        <thead>
          <tr><td class="uk-text-bold">Click</td>
              <td class="uk-text-bold">Action</td></tr>
        <thead>
-->
        <tbody>

          <tr>
            <td>
              <div>
                Double click
              </div>
            </td><td>Zoom in</td>
          </tr>

          <tr>
            <td>
              <div>Left click and hold, move</div>
            </td><td>Drag</td>
          </tr>

          <tr>
            <td>
              <div>Hold shift, left click and hold, move in circle</div>
            </td><td>Rotate map</td>
          </tr>

          <tr>
            <td>
              <div>Hold shift, left click and hold, move diagonal
                   towards map center</div>
            </td><td>Zoom out</td>
          </tr>

          <tr>
            <td>
              <div>Hold shift, left click and hold, move diagonal away
                   from map center</div>
            </td><td>Zoom in</td>
          </tr>



        </tbody>
      </table>

    </div>
  </li>

</ul>

